.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.primary-bg-color {
    background-color: #4E47FF;
}

.secondary-color {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;


}

/* header style */
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0 150px;
}

.nav-title {
    width: 99px;
    height: 51px;
    font-size: 34px;
    color: #4E47FF;
}

/* banner style */
.banner {
    height: 237px;
    width: 905px;
    text-align: center;
}

.banner-description {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.Action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 0;
    max-width: 1140px;
    max-height: 698px;
}

.action-title {
    max-width: 517px;
    max-height: 203px;
}

.action-sub-title {
    font-size: 42px;
    font-weight: bold;

}

.action-description {
    font-size: 24px;
    color: #252432;
}

.action-pic {
    border-radius: 10px;
}

.productive-users {
    max-width: 1113px;
    max-height: 306px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    border-radius: 10px;
    margin: 116px 0;
}

.productive-users-title {
    font-size: 38px;
    font-weight: bold;
}

.productive-uses-items {
    display: flex;
    justify-content: space-around;
    gap: 158px;
}

/* .productive-user-item {
    width: 180px;
    height: 121px;
} */

.user {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}

.user-description {
    font-size: 20px;
    margin: 0;
}